*{
    padding: 0;
    margin: 0;
}
.logo{
    height: 10%;
    width: 60%;
}
.bordes{
    border: 0px solid red;
}
.carrusel{
    height: auto;
}

.deshabilitado {
    color: grey !important; 
    text-decoration: line-through !important;
    pointer-events: none;
}

.deshabilitado:hover{
    color: grey !important; 
    text-decoration: line-through !important;
    pointer-events: none;
}

.margen{
    margin-top: 1%;
}

/* .fotoTop{
    position: relative;
    top: 75px;
    right: 80px;
    z-index: 1;
} */