#navbarNavDropdown{
    justify-content: flex-end;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.no-link{
    text-decoration: none;
    pointer-events: none;
}

.imagen-logo{
    width: 200px;
    height: 80px;
}

